{erl_opts, [debug_info]}.
{deps, [
  {vegur, {git, "https://github.com/heroku/vegur"}}
 ,recon
]}.

% {provider_hooks, [{pre, [{app_compile, {ex, compile}}]}]}.
{plugins, [rebar3_elixir, rebar3_elixirc]}.

{ex_opts, #{docs => false, ignore_module_conflict => true,
            debug_info => true, warnings_as_errors => false}}.

{relx, [{release, { proxy42, "0.1.0" },
         [proxy42,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
